* {
  box-sizing: border-box;
  margin: 10px;
}

h1,
p {
  text-decoration: 40px;
  font-family: "Courier New", Courier, monospace;
}
img {
  border-radius: 50px;
  margin: 10px;
  border: solid;
  width: 100px;
  height: 100px;
}

a {
  text-decoration: none;
}
div {
  width: fit-content;
  background-color: darkgrey;
  border-radius: 20px;
  padding: 20px;
}

a {
  margin-top: 2px;
  background-color: grey;
  padding: 5px;
  border-radius: 4px;
  color: white;
}
